.to-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.to-left{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}